<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TSE_MagentoExporter::tse_export"
             title="TSE Magento Exporter"
             module="TSE_MagentoExporter"
             parent="Magento_Backend::system_tools"
             action="tsemagento/export/index"
             resource="TSE_MagentoExporter::tse_export"
             sortOrder="50"/>
    </menu>
</config>
